/* FAQ -----------------------------------------------------------------------------------------------------------*/

.faq {
    margin: 20px;
    div {
        padding-bottom: 10px;
    }
    h4 {
        text-align: left;
        text-transform: uppercase;
        font-size: 13px;
    }
}

