/* GENERALES ----------------------------------------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffffff;
    font-family: 'Lato', 'Arial' , sans-serif;
    width: 100%;
    margin-top: 60px;

    a {
        text-decoration: none;
        color: #131313;
    }

    a:hover {
        color: #917A64;
    }
    
}

h5 {
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #131313;
}


h4 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 14px;
    color: #131313;
}

h3 {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #131313;
}

p {
    font-family: Lato;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: #131313;
}



.txtWhite {
    color: white;
}

.txtGrey {
    color: #6A7062;
}



.txtCenter {
    text-align: center;
}

.blackBack {
    background-color: #131313;
}

.whiteBack {
    background-color: white;
}