/* SUCURSALES------------------------------------------------------------------------------------------------------ */

.sucursales {
    margin: 20px
}

.direcciones {
    margin: 20px;
    div {
        padding:10px;
    }
}

.locatorMap {
    height: 400px;
    width: 100vw;
}
